 <!-- Breadcrumb Area Start -->
 <div class="breadcrumb-area">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="breadcrumb-content">
           <ul class="nav">
             <li><a href="index.html">Trang chủ</a></li>
             <li>Tìm kiếm sản phẩm</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Breadcrumb Area End-->
 <!-- Shop Category Area End -->
 <div class="shop-category-area mt-30px">
   <div class="container">
     <div class="row">
       <div class="col-lg- order-lg-last col-md-12 order-md-first">
         <!-- Shop Top Area Start -->
         <div class="shop-top-bar d-flex">
           <!-- Left Side start -->
           <div class="shop-tab nav d-flex">
             <a href="#shop-1" data-toggle="tab">
               <i class="fa fa-th"></i>
             </a>
             <a class="active" href="#shop-2" data-toggle="tab">
               <i class="fa fa-list"></i>
             </a>
             <p>Sản phẩm</p>
           </div>
           <!-- Left Side End -->
           <!-- Right Side Start -->
           <div class="select-shoing-wrap d-flex">
             <div class="shot-product">

             </div>
             <div class="shop-select">
               <select>
                 <option value="">Mới nhất</option>
                 <option value="">Từ A đến Z</option>
                 <option value="">Từ Z đến A</option>

               </select>
             </div>
           </div>
           <!-- Right Side End -->
         </div>
         <!-- Shop Top Area End -->

         <!-- Shop Bottom Area Start -->
         <div class="shop-bottom-area mt-35">
           <!-- Shop Tab Content Start -->
           <div class="tab-content jump">
             <!-- Tab One Start -->
             <div id="shop-1" class="tab-pane ">
               <div class="row responsive-md-class responsive-xl-class responsive-lg-class">


               </div>
             </div>
             <!-- Tab One End -->
             <!-- Tab Two Start -->
             <div id="shop-2" class="tab-pane active">


             </div>
             <!-- Tab Two End -->
           </div>
           <!-- Shop Tab Content End -->
           <!--  Pagination Area Start -->
           <div class="pro-pagination-style text-center mb-60px mt-30px text-center">


           </div>
           <!--  Pagination Area End -->
         </div>
         <!-- Shop Bottom Area End -->
       </div>
       <!-- Sidebar Area Start -->

     </div>
   </div>
 </div>
